:root {
  --el-color-primary: #e4393c;
  --el-color-primary-light-3: #e96b6e;
  --el-color-primary-light-5: #f19c9e;
  --el-color-primary-light-7: #f7c8c9;
  --el-color-primary-light-9: #fdf0f0;
  --el-color-primary-dark-2: #c82e32;
}
